
---
// src/components/posts/PostHeader.astro
import PostMeta from './PostMeta.astro';

interface Crumb {
  name: string;
  url: string;
}

interface Props {
  title: string;
  authorName: string;
  authorImage?: string;
  publishedDate: string;
  updatedDate?: string;
  readTime: string;
  labels?: string[];
  homeCrumb: Crumb;
  categoryCrumb?: Crumb | null;
}

const { title, authorName, authorImage, publishedDate, updatedDate, readTime, labels, homeCrumb, categoryCrumb } = Astro.props;
---
<div>
  <nav aria-label="breadcrumb" class="text-sm text-color-text-muted mb-4">
    <ol class="flex items-center">
      <li class="flex items-center">
        <a href={homeCrumb.url} class="text-[var(--color-text-muted)] hover:text-[var(--color-text-hover)] transition">
          {homeCrumb.name}
        </a>
      </li>
      {categoryCrumb && (
        <li class="flex items-center">
          <span class="mx-2 text-color-text-muted">×</span>
          <a href={categoryCrumb.url} class="text-[var(--color-text)] font-semibold truncate max-w-[calc(100vw-10rem)] sm:max-w-xs md:max-w-md hover:text-[var(--color-text-muted)] transition">
            {categoryCrumb.name}
          </a>
        </li>
      )}
    </ol>
  </nav>

  <h1 class="text-4xl font-bold text-hero-foreground mb-4">{title}</h1>

  <PostMeta
    authorName={authorName}
    authorImage={authorImage}
    publishedDate={publishedDate}
    readTime={readTime}
  />
  
  {updatedDate && publishedDate !== updatedDate && (
    <div class="flex items-center text-sm text-color-text-muted mt-4 mb-4">
      <i class="ri-refresh-line mr-1"></i> Updated {updatedDate}
    </div>
  )}

  {labels && labels.length > 0 && (
    <div class="flex flex-wrap gap-2 mt-4 mb-4">
      {labels.map((label: string) => (
        <a href={`/blog?label=${encodeURIComponent(label)}`} class="labels">
            {label}
        </a>
      ))}
    </div>
  )}
</div>

<style>
  .labels {
    font-size: 0.70rem;
    padding: 0.25rem 0.5rem;
    border-radius: 9999px;
    background-color: var(--post-card-tag-bg);
    color: var(--color-text);
    font-weight: 500;
    border: 2px solid var(--color-border);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    cursor: pointer;
  }

  .labels:hover {
    background-color: var(--color-bg);
    color: var(--color-text-muted);
  }
</style>