---
const API_KEY = import.meta.env.VITE_BLOGGER_API_KEY;
const BLOG_ID = import.meta.env.VITE_BLOGGER_BLOG_ID;

interface BlogData {
  name: string;
  description: string;
  favicon: string;
}

let blogData: BlogData | null = null;

if (!API_KEY || !BLOG_ID) {
  console.error("Error: API_KEY atau BLOG_ID belum diset di environment variables");
} else {
  try {
    const res = await fetch(`https://www.googleapis.com/blogger/v3/blogs/${BLOG_ID}?key=${API_KEY}`);
    if (res.ok) {
      blogData = await res.json();
    } else {
      console.error("Gagal fetch data blog:", res.status, res.statusText);
    }
  } catch (error) {
    console.error("Error fetch blog data:", error);
  }
}

const title = blogData?.name || "Bima Akbar";
const description = blogData?.description || "Bima Akbar - tempat berbagi konten menarik";
const faviconUrl = blogData?.favicon || "/favicon.svg";
---

<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-site-verification" content="tiYzo71ZJobcRYToMChdQ0bGyrGX1JdMK1zcr3EyaOQ" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" href={faviconUrl} />

    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet" />
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-TJXJBGLX');</script>
  </head>
  <body>
    <slot />
  </body>
</html>
