---
const {
  title = "Bima Akbar",
  description = "Website Bima Akbar",
  url = "bimaakbar.my.id",
  image,
  type = "website",
} = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <title>{title}</title>
  <meta name="description" content={description} />
  
  <link rel="canonical" href={url} />

  <!-- Open Graph -->
  <meta property="og:type" content={type} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:url" content={url} />
  {image && <meta property="og:image" content={image} />}

  <!-- Twitter -->
  <meta name="twitter:card" content={image ? "summary_large_image" : "summary"} />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  {image && <meta name="twitter:image" content={image} />}

  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet" />
</head>