---
// src/components/BaseHead.astro
interface Props {
  title?: string;
  description?: string;
  image?: string;
  url?: string;
}

const {
  title,
  description,
  image,
  url,
} = Astro.props;

const blogData = Astro.locals.blogData;
const siteName = blogData?.name || "Bima Akbar";
const siteDescription = blogData?.description || "It's okay for now.";
const finalTitle = title ?? siteName;
const finalDescription = description ?? siteDescription;
const finalUrl = url ?? 'https://bimaakbar.my.id';
const finalImage = image ?? blogData?.image?.url ?? '/bimaakbar-og-default.png';

const GTM_ID = import.meta.env.VITE_GTM_ID;
const GSV_ID = import.meta.env.VITE_GOOGLE_SITE_VERIFY;

const faviconUrl = "/favicon.ico";
const faviconUrl16 = "/favicon-16x16.png";
const faviconUrl32 = "/favicon-32x32.png";
const appletouch = "/apple-touch-icon.png";
const webmanifest= "/site.webmanifest";
const sitemap = "/sitemap-index.xml";

const gtmScript = `(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;
j.src='https://www.googletagmanager.com/gtm.js?id=' + i + dl;
f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','${GTM_ID}');`;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="google-site-verification" content={GSV_ID} />

  <title>{finalTitle}</title>
  <meta name="description" content={finalDescription} />

  <!-- Open Graph -->
  <meta property="og:title" content={finalTitle} />
  <meta property="og:description" content={finalDescription} />
  <meta property="og:url" content={finalUrl} />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content={siteName} />
  <meta property="og:locale" content="id_ID" />
  
  {finalImage && <meta property="og:image" content={finalImage} />}

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={finalTitle} />
  <meta name="twitter:description" content={finalDescription} />
  <meta name="twitter:site" content="@bimaakbarmusic" />
  <meta name="twitter:creator" content="@bimaakbarmusic" />
  
  {finalImage && <meta name="twitter:image" content={finalImage} />}

	<link rel="icon" href={faviconUrl} />
	<link rel="apple-touch-icon" sizes="180x180" href={appletouch}>
	<link rel="icon" type="image/png" sizes="32x32" href={faviconUrl32}>
	<link rel="icon" type="image/png" sizes="16x16" href={faviconUrl16}>
	<link rel="manifest" href={webmanifest}>
	<link rel="sitemap" href={sitemap} />

  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet" />
  
  <script is:inline set:html={gtmScript}></script>
  <script is:inline src="https://accounts.google.com/gsi/client" async defer></script>
<script is:inline src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
</head>