---
//Header.astro
import { Image } from 'astro:assets';
import logo from '../assets/bimaakbar-logo.svg';

interface Props {
  title?: string;
}

const { title = 'Bima Akbar' } = Astro.props;

const navItems = [
  { label: "Content",
    children: [
      { label: "Musik", href: "/musik" },
      { label: "YouTube", href: "/youtube" },
      { label: "Affiliate", href: "/affiliate" },
    ],
  },
  { label: "Blog", href: "/blog" },
  { label: "About",
    children: [
        { label: "About", href: "/about" },
        { label: "Contact", href: "/contact" },
    ],
  },
];
---

<style>
  summary::-webkit-details-marker {
    display: none;
  }
  details[open] > summary {
    color: var(--color-text-hover);
  }
</style>

<header id="main-header" class="fixed top-0 inset-x-0 z-50 backdrop-blur">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 h-16 w-full flex items-center justify-between gap-4">
    <div class="flex items-center md:flex-1 md:justify-start space-x-3">
      <button id="menu-button" class="text-color-text text-2xl md:hidden" aria-label="Toggle Menu">
        <i id="menu-icon" class="ri-menu-3-line"></i>
      </button>
      <a href="/" class="hidden md:flex items-center space-x-2">
        <Image src={logo} alt="Logo" width={32} height={32} class="object-contain h-6 w-6 text-[var(--color-text)] hover:text-[var(--color-text-hover)]" />
        <span class="text-color-text text-base font-semibold">{title}</span>
      </a>
    </div>
    <div class="flex-1 text-center min-w-0">
      <a href="/" class="md:hidden inline-flex justify-center items-center">
        <Image src={logo} alt="Logo" width={32} height={32} class="h-8 w-8 object-contain mx-auto" />
      </a>
      <nav class="hidden justify-center md:flex gap-6 uppercase text-sm font-medium text-[var(--color-text)]">
        {navItems.map((item) => (
          <div class="relative">
            {item.children ? (
              <details class="group relative">
                <summary class="cursor-pointer flex items-center gap-1 text-[var(--color-text-muted)] hover:text-[var(--color-text-hover)] list-none">
                  <i class="ri-arrow-down-s-line text-xs"></i>
                  {item.label}
                </summary>
                <div class="absolute mt-2 bg-[var(--color-bg)] border border-[var(--color-border)] shadow-md rounded-md py-2 w-44 z-50">
                  {item.children.map((child) => (
                    <a href={child.href} class="text-left block px-4 py-2 text-[var(--color-text-muted)] hover:text-[var(--color-text)] ">
                      {child.label}
                    </a>
                  ))}
                </div>
              </details>
            ) : (
              <a href={item.href} class="hover:text-[var(--color-text-hover)]">{item.label}</a>
            )}
          </div>
        ))}
      </nav>                  
    </div>
    <div class="w-10 md:w-auto flex justify-end items-center md:flex-1 md:justify-end space-x-3 text-color-text text-xl">
      <button id="theme-toggle" class="theme-toggle" aria-label="Toggle Dark/Light Mode">
        <i class="icon sun-icon ri-sun-line"></i>
        <div class="theme-toggle-thumb"></div>
        <i class="icon moon-icon ri-moon-line"></i>
      </button>
    </div>
  </div>
  <div id="mobile-menu" class="mobile-menu-bg md:hidden max-h-0 overflow-hidden transition-all duration-300 ease-in-out">
    <nav class="flex flex-col px-6 py-4 space-y-4 uppercase text-sm font-medium items-start bg-[var(--color-bg)] border border-[var(--color-border)]">
      {navItems.map((item) => (
        <div class="w-full">
          {item.children ? (
            <details class="w-full">
              <summary class="cursor-pointer text-[var(--color-text-muted)] hover:text-[var(--color-text)]">
                {item.label}
              </summary>
              <div class="pl-4 mt-2 space-y-">
                {item.children.map((child) => (
                  <a href={child.href} class="block text-[var(--color-text-muted)] hover:text-[var(--color-text)]">
                    {child.label}
                  </a>
                ))}
              </div>
            </details>
          ) : (
            <a
              href={item.href}
              class="block text-[var(--color-text-muted)] hover:text-[var(--color-text-hover)]"
            >
              {item.label}
            </a>
          )}
        </div>
      ))}
    </nav>
  </div>  
</header>

<script>
  function toggleDropdown(index: number) {
    const dropdown = document.getElementById(`dropdown-${index}`);
    if (dropdown) {
      dropdown.classList.toggle('hidden');
    }
  }

  function openDropdown(index: number) {
    const dropdown = document.getElementById(`dropdown-${index}`);
    if (dropdown) {
      dropdown.classList.remove('hidden');
    }
  }

  function closeDropdown(index: number) {
    const dropdown = document.getElementById(`dropdown-${index}`);
    if (dropdown) {
      dropdown.classList.add('hidden');
    }
  }

  document.addEventListener('click', function (event) {
    const nav = document.querySelector('nav');
    if (nav && !nav.contains(event.target as Node)) {
      document.querySelectorAll('.dropdown-content').forEach(el => el.classList.add('hidden'));
    }
  });

  document.addEventListener("DOMContentLoaded", () => {
    const menuButton = document.getElementById("menu-button");
    const mobileMenu = document.getElementById("mobile-menu");
    const menuIcon = document.getElementById("menu-icon");
    const mainHeader = document.getElementById("main-header");
    const themeToggle = document.getElementById("theme-toggle");
    const htmlElement = document.documentElement;

    if (themeToggle && htmlElement) {
      const setTheme = (theme: 'dark' | 'light') => {
        if (theme === 'light') {
          htmlElement.classList.add('light-mode');
          localStorage.setItem('theme', 'light');
        } else {
          htmlElement.classList.remove('light-mode');
          localStorage.setItem('theme', 'dark');
        }
      };

      const storedTheme = localStorage.getItem('theme');
      const prefersLight = window.matchMedia('(prefers-color-scheme: light)').matches;

      if (storedTheme) {
        setTheme(storedTheme as 'dark' | 'light');
      } else if (prefersLight) {
        setTheme('light');
      } else {
        setTheme('dark');
      }

      themeToggle.addEventListener('click', () => {
        const currentTheme = htmlElement.classList.contains('light-mode') ? 'light' : 'dark';
        setTheme(currentTheme === 'dark' ? 'light' : 'dark');
      });
    }
    if (menuButton && mobileMenu && menuIcon) {
      menuButton.addEventListener("click", () => {
        mobileMenu.classList.toggle("max-h-0");
        mobileMenu.classList.toggle("max-h-64");

        const isOpen = menuIcon.classList.contains("ri-close-line");
        menuIcon.className = isOpen ? "ri-menu-3-line" : "ri-close-line";
      });
    }
    if (mainHeader) {
      const handleScroll = () => {
        if (window.scrollY > 5) {
          mainHeader.classList.add("scrolled-header");
        } else {
          mainHeader.classList.remove("scrolled-header");
        }
      };
      window.addEventListener("scroll", handleScroll);
      handleScroll();
    }
  });
</script>
