---
// src/layouts/BaseLayout.astro
import "../styles/global.css";
import BaseHead from '../components/BaseHead.astro';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BackToTop from '../components/BackToTop.astro';

interface Props {
  title?: string;
}
const { title: pageTitle } = Astro.props;

const blogData = Astro.locals.blogData;
const siteName = blogData?.name || "Bima Akbar";

const headerTitle = siteName;

const finalSeoTitle = pageTitle ? `${pageTitle} | ${siteName}` : siteName;
const seoDescription = blogData?.description || "Bima Akbar - tempat berbagi konten menarik";
---

<html lang="id">
  <BaseHead title={finalSeoTitle} description={seoDescription} />
  <body class="min-h-screen">
    <noscript><iframe src={`https://www.googletagmanager.com/ns.html?id=${import.meta.env.VITE_GTM_ID}`} height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <Header title={headerTitle} />
    <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12 pt-16">
      <slot />
    </main>
    <Footer />
    <BackToTop />
  </body>
</html>
